body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif; /* Modern font ailesi */
    overflow-x: hidden; /* Taşmayı önlemek için */
    background-image: url('../images/account-background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.sidebar {
    margin-top: 80px;
    min-width: 10%;
    max-width: 250px;
    background: linear-gradient(135deg, #8f8f8f, #707070, #000000);
    color: #fff;
    position: fixed;
    height: 100vh;
    padding-top: 6%;
    transform: translateX(0);
    transition: transform 0.3s ease;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1); /* Hafif gölge ekleme */
}

.sidebar .nav-link {
    color: #fff;
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 1.1em; /* Yazıları biraz büyüt */
    transition: background 0.3s, color 0.3s; /* Yumuşak geçiş */
    border-radius: 5px; /* Köşeleri yumuşat */
    bottom: 100px;
    position: relative;
}

.sidebar .nav-link:hover {
    background: #141414; /* Kırmızı hover rengi */
    color: #fff;
    box-shadow: 0 4px 10px rgba(97, 97, 97, 0.3); /* Hover gölge efekti */
}

.content {
    margin-left: 200px;
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: margin-left 0.3s ease;

}

.tab-content {
    color: white;
    
    max-width: 800px;
    background: linear-gradient(135deg, #8f8f8f, #858585, #000000e3);
    padding: 30px; /* Daha geniş padding */
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1); /* Daha belirgin kutu gölgesi */
    border-radius: 12px; /* Köşeleri biraz daha fazla yuvarlat */
    transition: box-shadow 0.3s ease; /* Yumuşak geçiş */
}


.tab-content:hover {
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.2); /* Hover'da gölgeyi güçlendir */
}

.add-bike{
    background-color: rgb(0, 180, 0) !important;
    margin-bottom: 25px;
    color: white !important;
    font: bold;
    transform: background-color linear 0.3sn !important;
}

.add-bike:hover{
    background-color: rgb(0, 211, 0) !important;
    
}

tr {
    text-align: center;
    border: solid 1px;
}

th {
    text-align: center;
    vertical-align: middle; /* Dikey ortalama */
    border: solid 1px;
}

td {
    text-align: center;
    vertical-align: middle; /* Dikey ortalama */
    border: solid 1px !important;
}

table {
    border: solid 1px !important;
    border-collapse: collapse; /* Hücre sınırlarını birleştir */
}
/* Toggle butonu stili */
.toggle-icon {
    position: fixed !important;
    top: 100px;
    left: 230px;
    font-size: 30px;
    color: #ff0008; /* Modern bir kırmızı renk */
    cursor: pointer;
    transition: left 0.3s ease, color 0.3s ease;
    z-index: 1000;
}

.toggle-icon:hover {
    color: #ff7f50; /* Hover'da renk değişimi */
}
.logo{
    bottom: 100px;
    position: relative;
}
.logo img {
    border-radius: 50px;
    position: relative;
    width:150px;
    height:100px;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;

}

.photo-status {
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    color: white; /* Yazı rengi beyaz */
}

.present {
    background-color: green; /* Yeşil arka plan */
}

.absent {
    background-color: red; /* Kırmızı arka plan */
}

/* Yarışlarım Tablosu Stili */
#races {
    color: white;
    max-width: 800px;
    max-height: 600px; /* Burada istediğiniz yüksekliği belirleyebilirsiniz */
    overflow-y: auto; /* Yatayda taşma olmayacak şekilde scroll ekler */
    background: linear-gradient(135deg, #8f8f8f, #858585, #000000e3);
    padding: 30px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    transition: box-shadow 0.3s ease;
}

/* Başlık Stili */
#races h2 {
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom: 2px solid #6c757d;
    padding-bottom: 10px;
    text-align: center;
}
.table-striped {
    width: 100%; /* Tablo genişliğini korur */
    table-layout: auto; /* İçerik uzunluğuna göre otomatik olarak tablo genişliğini ayarlar */
}
/* Tablo Stili */
#races table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 1rem;
    background: linear-gradient(135deg, #8f8f8f, #858585, #000000e3);
    padding: 30px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    transition: box-shadow 0.3s ease;
}

#races table th, 
#races table td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    background: #8f8f8f;
}

#races table th {
    font-weight: bold;
    color: #ffffff;
    background: #8f8f8f;
}

#races table td {
    color: #ffffff;
    background: #8f8f8f;
}

/* Alternatif Satır Renkleri */
#races table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Satır Hover Efekti */
#races table tr:hover {
    background-color: #343a40; /* Hover rengini koyulaştırdık */
    color: #fff;
    cursor: pointer; /* Cursor'u pointer yaptık */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Hover'da gölge efekti */
}


/* Uyarı Mesajı */
.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    font-weight: 500;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.cancel-reason {
    display: none;
    margin-top: 10px;
}
.cancel-button {
    background-color: #ff6666;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.cancel-reason textarea {
    width: 100%;
    margin-top: 5px;
}
.submit-reason {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-top: 5px;
    cursor: pointer;
}

/* Mobil Cihazlar İçin CSS */
@media (max-width: 768px) {

    
    body {
        display: flex;
        min-height: 100vh;
        margin: 0;
        overflow-x: hidden; /* Taşmayı önlemek için */
    }

    /* Sidebar ayarları */
    .sidebar {
        position: fixed; /* Sidebar'ı sabitle */
        background-color: #111111cb;
        color: #fff;
        height: 100%;
        min-width: 200px;
        max-width: 200px;
        transform: translateX(-100%); /* Başlangıçta sidebar gizli */
        z-index: 999; /* Sidebar'ın her şeyin üstünde kalmasını sağla */
    }

    .logo img {
        border-radius: 50px;
        position: relative;
        max-width: 50%;
        height: auto;
        display: block;
        margin: 0 auto;
        text-align: center;
        margin-top: 40%;
        width: 150px;
        height: 100px;
    }
    .content {
        margin-left: 0;
        width: 100%;
        padding: 10px;
    }

    /* Toggle butonu ayarları */
    .toggle-icon {
        position: relative; /* Butonu sabit tut */
        top: 100px; /* Navbar altında kalması için */
        left: 10px; /* Sidebar kapalıyken ikon sola yaklaşacak */
        z-index: 1001; /* Sidebar'dan bir katman üstte */
        transition: left 0.3s ease;
    }

    

    /* Sidebar açıldığında genişliği kaplaması için ayarlar */
    .sidebar.show {
        transform: translateX(0);
    }

    /* Sidebar açıldığında buton biraz daha sola yaklaşacak */
    .sidebar.show + .toggle-icon {
        left:10px !important; /* Sidebar açıldığında buton sağa gitmesini önlemek için */
    }

    /* Sidebar kapanınca content'in sola kayması */
    .sidebar.closed + .content {
        margin-left: 0; /* Sidebar kapalıyken content sola kayar */
    }
    #races table th, 
    #races table td {
        padding: 8px;
    }
    
    #races h2 {
        font-size: 1.5rem;
    }
}