@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    text-align: center;
}

html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    padding-top: 8%;
    background-color: #f5f5f5;
    background-image: url('../images/iletisimarkaplan.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 1200px !important; 
    padding: 25px; 
    background-color: rgba(129, 129, 129, 0.7) !important;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 500px;
    opacity: 0; /* Başlangıçta görünmez */
    transform: translateY(50px); /* Başlangıçta biraz aşağıda */
    transition: opacity 0.6s ease, transform 0.6s ease, backdrop-filter 0.6s ease, box-shadow 0.6s ease;/* Yavaş geçiş */
}

.readonly-input {
    background-color: #e9ecef;
    color: #6c757d;
    pointer-events: none;
    opacity: 0.7;
}

.container:hover {
    background-color: rgba(129, 129, 129, 0.7) !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.459);
    backdrop-filter: blur(10px);
    transition: opacity 0.6s ease, transform 0.6s ease, backdrop-filter 0.6s ease, box-shadow 0.6s ease; /* Yavaş geçiş */

}

h2 {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-label {
    color: white;
    font-weight: bold;
}

.col-md-4 {
    margin-top: 1%;
}

/* Resmi büyütmek ve ortalamak için stil ayarları */
.col-md-4 img {
    max-width: 200px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Masaüstü görünümü için logo boyutunu artır ve dikey ortala */
@media (min-width: 769px) {
    .col-md-4 img {
        max-width: 180px;
        margin-top: 20px;
        margin-bottom: 20px;
        align-self: center;
    }
}

.social-icons {
    margin-top: 20px;
    align-items: center;
}

.social-icons a {
    color: #333;
    font-size: 30px;
    margin-right: 20px;
    transition: color 0.3s, transform 0.3s;
    text-decoration: none;
}

.social-icons a:last-child {
    margin-right: 0;
}

.social-icons a:hover {
    color: #007bff;
    transform: scale(1.2);
}

/* Buton Stili */
.btn-primary {
    color: #fff;
    background: linear-gradient(45deg, rgb(99, 99, 99), rgba(0, 0, 0, 1));
    border-color: #000000 !important;
    width: 100%;
    border: 2px solid #000000;
    transition: background 0.8s ease, border-color 0.8s ease, color 0.8s ease, opacity 0.8s ease, transform 0.3s ease !important;
    position: relative;
    overflow: hidden;
    opacity: 0.8;
    transform: scale(1);
}

.btn-primary:hover {
    color: #fff;
    background: linear-gradient(45deg, rgb(68, 68, 68), rgba(0, 0, 0, 1));
    border-color: #000000;
    opacity: 1;
    transform: scale(1.01);
}

.mb-3.checkbox-group {
    margin-bottom: 15px;
}

.mb-3.checkbox-group input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
}

.mb-3.checkbox-group label {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.checkbox-group {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    align-items: center;
}

.img-fluid{
    border-radius: 10px;
}

/* Responsive ayarlar */
@media (max-width: 768px) {
    body {
        padding-top: 20%;
    }

    .container {
        width: 85%;
        margin-bottom: 10px;
        min-height: auto;
    }

    .row.mb-3 {
        text-align: center;
        flex-direction: column;
    }
    
    .row.mb-3 .col {
        width: 100%;
        margin-bottom: 15px;
    }

    .container {
        padding: 15px;
        margin-bottom: 15px;
    }
}

/* Masaüstü için ek düzenlemeler */
@media (min-width: 769px) {
    .container {
        padding: 40px;
        justify-content: flex-start;
        min-height: 500px;
        margin-bottom: 20px;
    }

    h2 {
        margin-top: 0;
    }
}
