@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box; /* Padding ve border hesaplamaları için */
}

html, body {
    height: 100%; /* Sayfa yüksekliği ayarlanır */
    margin: 0; /* Varsayılan margin kaldırılır */
}

body {
    display: flex;
    flex-direction: column; /* Dikey olarak düzenleme */
}

.content {
    flex: 1; /* İçerik alanının tüm boşluğu kaplamasını sağlar */
    display: flex;
    justify-content: center; /* İçeriği yatayda ortalar */
    align-items: center; /* İçeriği dikeyde ortalar */
}

.text {
    color: white;  
}

.footer {
    width: 100%; /* Tam genişlik */
    background: linear-gradient(to right, 
        rgb(0, 0, 0,0.7) 0%, 
        rgba(0, 0, 0,0.7) 5%, 
        rgba(184, 184, 184,0.8) 15%, 
        rgba(210, 210, 210,0.8) 85%, 
        rgba(0, 0, 0,0.7) 95%, 
        rgba(32, 32, 32,0.7) 100%) !important; /* Yumuşak gradient geçişi */
    text-align: center; /* Metin hizalama */
    padding: 10px 0; /* Kenar boşluklarını ayarla */
    margin-top: auto; /* İçeriğin üstünde yer almasını sağlar */
}

.footer-container {
    color: black; /* Metin rengi */
    font-size: 0.9em !important; /* Yazı tipini küçült */
}

@media (max-width: 768px) {
    /* Mobil görünüm için ek ayarlar burada yapılabilir */
}
