@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    font-family: "Poppins", sans-serif;
}

html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}




body {
    padding-top: 5% !important;
    background-color: #f5f5f5;
    background-image: url('../images/gri-arka-plan.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 1000px;
}

.Header h2{
    
        font-weight: bolder;
        text-align: center;
        margin-bottom: 2%;
        font-size: 2rem;
    
}





.project-info {
    background: linear-gradient(135deg,#00000094, #8f8f8f9c, #85858591, #00000094);
    border-radius: 10px;
    margin: 5%;
    margin-top: 0%;
    margin-bottom: 2%;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.486);
    transition: transform 0.3s ease, border-color 0.3s ease, backdrop-filter 0.3s ease, box-shadow 0.3s ease;
}

.project-info:hover {
    backdrop-filter: blur(20px);
    border-color: #aaa;
    box-shadow: 0 8px 15px rgba(128, 128, 128, 0.4), 
                0 12px 20px rgba(0, 0, 0, 0.2);
}

.project-info h2 {
    font-weight: bolder;
    text-align: center;
    margin-top: 1%;
    font-size: 2rem;
}

.project-info p {
    text-align:center;
    margin: 2%;
    font-size: 1.3rem;
}



/* Kart Stili */
.card-img-top{
    width: 100%;
    height: 180px;
    max-height: 180px;
    object-fit:scale-down; /* Resmin kapsaması için */
    background: linear-gradient(135deg, #8f8f8f9c, #85858591);
    overflow: hidden;
}

.card.mb-4{
    border: 1px solid #ccc; /* Gri sınır */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, border-color 0.3s ease, backdrop-filter 0.3s ease, box-shadow 0.3s ease;
    background: linear-gradient(135deg, #8f8f8f9c, #85858591, #00000094);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px; /* Sabit kart yüksekliği */
    position: relative;
}


.card.mb-4:hover{
    backdrop-filter: blur(20px);
    border-color: #aaa;
    box-shadow: 0 8px 15px rgba(128, 128, 128, 0.4), /* Grimsi yansıma */
                0 12px 20px rgba(0, 0, 0, 0.2); /* Altına ekstra bir gölge */
}




.card-body{
    padding: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Taşmayı önler */
}

.card-title{
    text-align: center;
    font-size: 1.3rem;
    font-weight: bolder;
    margin-bottom: 5px;
    color: #333;
}

.image-container
{
    width: 70%;
    margin: 0 auto;
}

.card-text{
    font-size: 0.9rem;
    color: #313131;
    margin-bottom: 15px;
    min-height: 100px; /* Özet metni için sabit bir yükseklik */
    text-align: justify;
    overflow: hidden; /* Taşmayı önler */
    font-weight: 600;
}

.project-date {
    text-align: center;
    font-size: 0.9rem;
    color: #4b4b4b; /* Gri tonunda */
    margin-bottom: 10px; /* Tarih ile içerik arasına boşluk */
}


/* Buton Stili */
.btn-primary {
    color: #fff;
    background-color: #515253; /* Gri tonlarında buton rengi */
    border-color: #515253;
    width: 50%; /* Buton tam genişlikte olacak */
    transition: background-color 0.3s ease, border-color 0.3s ease;
    padding: 10px; /* Butonun dikdörtgen görünmesi için */
    border-radius: 4px;
    margin-top: auto; /* Alt kısımda sabit dursun */
    position: absolute; /* Buton konumunu sabitlemek için */
    bottom: 15px; /* Alt kenardan 15px uzaklık */
    left: 50%; /* Butonu ortalamak için */
    transform: translateX(-50%); /* Butonu tam ortalamak için */
}

.btn-primary:hover {
    background-color: #3f3f3f; /* Daha koyu gri hover durumu */
    border-color: #5a6268;
}

/* Sayfalama Stili */
.pagination-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.pagination-link {
    margin: 0 5px;
    padding: 10px 20px;
    color: #515253;
    text-decoration: none;
    border: 1px solid #515253;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination-link:hover {
    border-color: #3d3d3d;
    background-color: #3d3d3d;
    color: white;
}

.pagination-link.active {
    border-color: #6c757d;
    background-color: #6c757d;
    color: white;
}

/* Responsive */
@media (max-width: 1200px) {

    body{
        padding-top: 20% !important; /* Başlık ve üst kısımların ekrandaki yüzdelik oranı */
    }

    .project-card-img {
        height: 175px; /* Kart içindeki resmin yüksekliği */
    }
    
    .project-card {
        backdrop-filter: blur(20px);
        height: auto; /* Küçük ekranlar için esnek yükseklik */
        width: 75%; /* Kartların genişliği */
        margin: 0 auto; /* Kartları ortaya almak için */
        box-shadow: none;
    }

    .project-card:hover {
        box-shadow: none;
    }
    
    .mb-4 {
        margin-top: 30px; /* Kartlar arası boşluk */
    }

    /* Kartların ana kapsayıcısının esnekliği */
    .row {
        display: flex; /* Flexbox kullanarak esnek bir düzen oluştur */
        flex-wrap: wrap; /* Kartların birden fazla satıra yayılmasına izin ver */
        justify-content: center; /* Kartları yatayda ortalar */
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
    display: none !important;
}
}
@media (orientation: landscape) {
    body {
        padding-top: 7% !important;
    }
}


/* Genel Scrollbar Stili */
::-webkit-scrollbar {
    width: 10px; /* Scrollbar genişliği */
    z-index: 1000;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.055); /* Scrollbar'ın arka plan rengi */
    border-radius: 10px; /* Kenar yuvarlama */
}

::-webkit-scrollbar-thumb {
    background: #424242; /* Kaydırıcı butonunun rengi */
    border-radius: 10px; /* Kenar yuvarlama */
}

/* Scrollbar Hover Durumu */
::-webkit-scrollbar-thumb:hover {
    background: #000000b2; /* Hover durumunda kaydırıcı butonunun rengi */
}