body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.message-container {
    max-width: 800px;
    padding: 20px; /* Üstten boşluk eklemek için padding kullan */
    margin: 0 auto; /* Merkeze yerleştir */
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative; /* Konumlandırma */
    top: 50px; /* Yukarıdan 50px boşluk ekle */
}

h2 {
    text-align: center;
    color: #333;
}

.message-detail {
    margin-bottom: 20px;
}

.detail-row {
    margin-bottom: 10px; /* Satırlar arasına boşluk eklemek için */
}

.message-detail h3 {
    color: #000;
    font-weight: bold; /* Başlıkları kalın yapmak için */
    display: inline; /* Başlık ve içeriğin yan yana olmasını sağlamak için */
}

.message-detail p {
    line-height: 1.6;
    color: #555;
    display: inline; /* Başlık ve içeriğin yan yana olmasını sağlamak için */
    margin-left: 10px; /* Başlık ile içerik arasına boşluk eklemek için */
}

.message-detail .message-text {
    max-height: 200px; /* Maksimum yükseklik 200px */
    overflow-y: auto; /* Aşırı uzun metinler için kaydırma çubuğu */
    margin-top: 5px; /* Başlık altından başlaması için */
    white-space: normal; /* Metnin aşağı doğru uzaması için */
    word-wrap: break-word; /* Kelimelerin kırılması için */
}

.back-button {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 15px;
    background-color: #0056b3;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.back-button:hover {
    background-color: #004494;
}

.email-button {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 15px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    border: none; /* Butonun sınırını kaldır */
    cursor: pointer; /* İmleç işaretçisi */
}

.email-button:hover {
    background-color: #218838; /* Hover durumu */
}
