

h1 {
    font-size: 2.5rem; /* Başlık boyutu */
    color: #ffffff; /* Başlık rengi */
    margin-bottom: 20px; /* Başlık altında boşluk */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); /* Başlık için hafif gölge efekti */
}

label{
    color: white;
}

.organization-card {
    display: flex; /* Flexbox düzeni */
    flex-direction: row; /* Yana doğru yerleşim */
    align-items: stretch; /* Kart içeriklerinin yüksekliğini eşitle */
    border: none; /* Kart sınırını kaldırdık */
    border-radius: 15px; /* Yuvarlak köşe */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Gölgeli efekt */
    transition: transform 0.3s; /* Animasyon efekti */
    background-color: rgba(255, 255, 255, 0.671); /* Kart arka plan rengi */
    overflow: hidden; /* Taşan içeriği gizler */
    width: 1500px;
}

.organization-card:hover {
    transform: translateY(-5px); /* Hover efekt */
}

.card-content {
    flex-grow: 1; /* İçeriğin genişlemesi */
    min-width: 0; /* Flex elemanının daralmasını sağlamak için 0 olarak ayarlayın */
    padding: 20px; /* İçerik için boşluk */
    max-width: calc(100% - 420px); /* Harita genişliğini sabitlemek için */
}

.card-title {
    font-weight: bold; /* Başlık kalınlığı */
    font-size: 1.5rem; /* Başlık boyutu */
    color: #000000; /* Başlık rengi */
    text-decoration: underline;
}

.card-text {
    color: #272727; /* Metin rengi */
    margin-bottom: 10px; /* Metinler arasında boşluk */
    overflow-wrap: break-word; /* Uzun kelimelerin alt satıra geçmesini sağlar */
    word-wrap: break-word; /* Eski tarayıcılar için destek */
    overflow: hidden; /* Taşan içeriği gizler */
    white-space: normal; /* Normal beyaz boşluk davranışı */
    max-height: 200px; /* Max yüksekliği belirleyin */
    overflow-y: auto; /* Taşan içeriği kaydırılabilir yap */
}

.map-container {
    flex: 0 0 400px; /* Harita alanının sabit genişliği */
    height: auto; /* Harita yüksekliği artırıldı */
    margin-left: 20px; /* Kartın sol tarafında boşluk */
    border-radius: 10px; /* Yuvarlak köşe */
    overflow: hidden; /* Taşan içerik gizleniyor */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Harita gölgesi */
}

.map-container iframe {
    width: 100%; /* İframe genişliği */
    height: 100%; /* İframe yüksekliği */
    border: 0; /* Kenar çizgisi yok */
}

.map-title {
    margin: 0; /* Başlık margin'i sıfırla */
    padding: 10px; /* Başlık için iç boşluk */
    background-color: #303030; /* Arka plan rengi */
    color: white; /* Metin rengi */
    text-align: center; /* Ortala */
    font-weight: bold; /* Kalın metin */
}

/* Gri ve siyah tonlarında buton stilleri */
.btn-primary {
    margin-top: 15px; /* Buton ile üstteki metin arasında boşluk */
    background-color: #6c757d; /* Gri buton rengi */
    border-color: #6c757d; /* Gri buton kenar rengi */
    color: white; /* Buton üzerindeki metin rengi */
}

.btn-primary:hover {
    background-color: #495057; /* Koyu gri hover durumu */
    border-color: #343a40; /* Koyu gri hover durumu */
}

/* Sayfalama Stili */
.pagination-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.pagination-link {
    margin: 0 5px;
    padding: 5px 10px;
    background: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid rgb(77, 77, 77);
    
}

.pagination-link:hover {
    border-color: #3d3d3d;
    background-color: #3d3d3d;
    color: white;
    border: 1px solid rgb(134, 134, 134);
}

.pagination-link.active {
    border-color: #5a6268;
    background: linear-gradient(135deg, #8f8f8f, #858585, #000000a1);
    color: white;
    border-color: #6c757d;
}

@media (max-width: 768px) {
    
}
