body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(135deg, #8f8f8f9c, #85858591, #00000094);
    border-radius: 8px; /* Kenar yuvarlama */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Gölgelendirme */
    top: 50px; /* Sidebar'ı etkilemeden aşağı yerleştir */
    left: 52%; /* Yatayda ortala */
    color: white;
    transition: transform 0.5s ease, border-color 0.5s ease, backdrop-filter 0.5s ease, box-shadow 0.5s ease;
}
.container:hover {
    backdrop-filter: blur(20px);
    border-color: #aaa;
    box-shadow: 0 8px 15px rgba(128, 128, 128, 0.4), /* Grimsi yansıma */
                0 12px 20px rgba(0, 0, 0, 0.2); /* Altına ekstra bir gölge */
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    margin: 20px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: center;
}


.form {
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 35px;
}


.form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.form-container {
    display: ruby;
    justify-content: space-between; /* Formları yan yana getirir ve aralarında boşluk bırakır */
}

.form-section {
    width: 48%; /* Her iki formu ekranın yarısına yayar */
}
button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.btn {
    text-decoration: none;
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
}

.delete-btn {
    background-color: #f44336;
}

.delete-btn:hover {
    background-color: #c9302c;
}
