RewriteEngine On

# .php uzantısını gizler ve uzantısız olarak dosyaya erişimi sağlar
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]

# Tüm HTTP isteklerini HTTPS'ye yönlendirir
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]